<main class="px-4 sm:px-6 lg:px-8 [scrollbar-gutter:stable] area">
  <div class="mx-auto max-w-2xl py-12 z-10 h-full flex">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>

  <ul class="circles -z-10">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</main>
